/* Estilos CSS para el título, el logo y la cenefa */
#logo {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
	width:96px;
    height: 96px; /* Ajusta la altura del logo según tus preferencias */
}

#logo img {
    /*height: 100%;*/
	width: 100%;
}

.fuente-gvt {
	color: #77777a;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#titulo {
	font-size: 28pt;
	font-weight: normal;
	text-align: center;

    
}

.parametro{
	font-size: 24px;
	list-style-type: none;
}



.container-motor {
	position: relative;
	display: inline-block;
}

.container {
	position: relative;
	display: inline-block;
}

.texto-medidas{
	font-size: 18px;
	position: absolute; 
	z-index: 1;
	
}


.motor-img {
	position:relative;
	display: inline;
	max-width: 100%;
	height: auto;
	left:80px

}

.medida-a {
	left: 410px;
	top: 80px;
}
.medida-b {
	top: 77px;
	left: 13px;
}
.medida-c {
	top: 22px;
	left: 178px;
}
.medida-d1 {
	top: -10px;
	left: 376px;
}
.medida-d2 {
	top: -15px;
	right: 0px;
}
