.motor-img {
	position:relative;
	display: inline;
	max-width: 100%;
	height: auto;
	left:80px

}

.medida-a {
	left: 410px;
	top: 80px;
}
.medida-b {
	top: 77px;
	left: 13px;
}
.medida-c {
	top: 22px;
	left: 178px;
}
.medida-d1 {
	top: -10px;
	left: 376px;
}
.medida-d2 {
	top: -10px;
	left: 410px;
}
