<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <base href="https://stompp.github.io/gvt/" target="_blank" />
  <title>Ficha Técnica</title>
  <link rel="stylesheet" type="text/css" href="styles/ficha-motor-base.css">
  <link rel="stylesheet" type="text/css" href="styles/motores-fichas.css">
</head>


<body class="fuente-gvt">

  <div class="logo-titulo">
    <img src="static/img/gvtlogo.jpg">
  </div>
  <h1 class="titulo-ficha" id="titulo-ficha">Ficha Técnica<br>{{ data['nombre'] }}</h1>

  <br><br><br>


  <ul class="lista-parametros">
    <li>Código: {{ data['codigo'] }}.</li>
    <li>Alimentação: {{ data['alimentacion'] }}.</li>
    <li>Potência: {{ data['potencia'] }} W.</li>
    <li>Consumo: {{ data['corriente'] }} A.</li>
    <li>Par: {{ data['par'] }} Nm.</li>
    <li>Velocidade: {{ data['rpm'] }} rpm.</li>
    <li>Recorrido Máximo: {{ data['vueltas_max'] }} voltas.</li>
    <li>Funcionamento Contínuo: {{ data['tiempo_max'] }} minutos.</li>
    <li>Proteção: IP{{ data['ip'] }}.</li>
    <li>Medidas:</li>
    <ul>
      <li>Diámetro: {{ data['diametro']}} mm.</li>
      <li>Largura: {{ data['ancho_cabeza'] }} mm.</li>
      <li>Comprimento: {{ data['longitud_cabeza'] }} mm.</li>
      <li>Comprimento: {{ data['longitud']}} mm.</li>
      <li>Diámetro 1: {{ data['d1']}} mm.</li>
      <li>Diámetro 2: {{ data['longitud_perno']}} mm.</li>
    </ul>

  </ul>

  <p>&nbsp;</p>

  <div class="container-motor motor">
    <img src="static/img/motor.png" class="motor-img">

    <span class="medida-a">Diámetro:{{ data['diametro']}}</span>
    <span class="medida-b">Largura:{{ data['ancho_cabeza'] }}</span>
    <span class="medida-c">Comprimento:{{ data['longitud_cabeza'] }}</span>
    <span class="medida-d1">Diámetro 1:{{ data['d1']}}</span>
    <span class="medida-d2">Diámetro 2:{{ data['longitud_perno']}}</span>

  </div>
</body>

</html>