<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <base href="https://stompp.github.io/gvt/" target="_blank" />
  <title>Technical Sheet</title>
  <link rel="stylesheet" type="text/css" href="styles/ficha-motor-base.css">
  <link rel="stylesheet" type="text/css" href="styles/motores-fichas.css">
</head>


<body class="fuente-gvt">

  <div class="logo-titulo">
    <img src="static/img/gvtlogo.jpg">
  </div>
  <h1 class="titulo-ficha" id="titulo-ficha">Technical Sheet<br>{{ data['name'] }}</h1>

  <br><br><br>


  <ul class="lista-parametros">
    <li>Code: {{ data['code'] }}.</li>
    <li>Power Supply: {{ data['power_supply'] }}.</li>
    <li>Power: {{ data['power'] }} W.</li>
    <li>Consumption: {{ data['current'] }} A.</li>
    <li>Torque: {{ data['torque'] }} Nm.</li>
    <li>Speed: {{ data['rpm'] }} rpm.</li>
    <li>Maximum Travel: {{ data['max_turns'] }} turns.</li>
    <li>Continuous Operation: {{ data['max_time'] }} minutes.</li>
    <li>Protection: IP{{ data['ip'] }}.</li>
    <li>Dimensions:</li>
    <ul>
      <li>A: {{ data['diameter']}} mm.</li>
      <li>B: {{ data['head_width'] }} mm.</li>
      <li>C: {{ data['head_length'] }} mm.</li>
      <li>D: {{ data['length']}} mm.</li>
      <li>D1: {{ data['d1']}} mm.</li>
      <li>D2: {{ data['bolt_length']}} mm.</li>
    </ul>

  </ul>

  <p>&nbsp;</p>

  <div class="container-motor motor">
    <img src="static/img/motor.png" class="motor-img">

    <span class="medida-a">A:{{ data['diameter']}}</span>
    <span class="medida-b">B:{{ data['head_width'] }}</span>
    <span class="medida-c">C:{{ data['head_length'] }}</span>
    <span class="medida-d1">D1:{{ data['d1']}}</span>
    <span class="medida-d2">D2:{{ data['bolt_length']}}</span>

  </div>
</body>

</html>