<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <base href="https://stompp.github.io/gvt/" target="_blank" />
  <title>Fitxa Tècnica</title>
  <link rel="stylesheet" type="text/css" href="styles/ficha-motor-base.css">
  <link rel="stylesheet" type="text/css" href="styles/motores-fichas.css">
</head>


<body class="fuente-gvt">

  <div class="logo-titulo">
    <img src="static/img/gvtlogo.jpg">
  </div>
  <h1 class="titulo-ficha" id="titulo-ficha">Fitxa Tècnica<br>{{ data['nombre'] }}</h1>

  <br><br><br>


  <ul class="lista-parametros">
    <li>Codi: {{ data['codigo'] }}.</li>

    <li>Par: {{ data['par'] }} Nm.</li>
    <li>Velocitat: {{ data['rpm'] }} rpm.</li>

    <li>Alimentació: {{ data['alimentacion'] }}.</li>
    <li>Potència: {{ data['potencia'] }} W.</li>
    <li>Consum: {{ data['corriente'] }} A.</li>
    
    <li>Recorregut Màxim: Sense límits.</li>
    <li>Funcionament Continu: {{ data['tiempo_max'] }} minuts.</li>

    <li>Protecció: IP{{ data['ip'] }}.</li>
     <li>&nbsp;</li>
    <li>Mides:</li>
    <ul>
      <li>A: {{ data['diametro']}} mm.</li>
      <li>B: {{ data['ancho_cabeza'] }} mm.</li>
      <li>C: {{ data['longitud_cabeza'] }} mm.</li>
      <li>D: {{ data['longitud']}} mm.</li>
      <li>D1: {{ data['d1']}} mm.</li>
      <li>D2: {{ data['longitud_perno']}} mm.</li>
    </ul>

  </ul>

  <p>&nbsp;</p>
    <div class="container-centrado">
  <div class="container-motor motor">
    <img src="static/img/motor.png" class="motor-img">

    <span class="medida-a">A:{{ data['diametro']}}</span>
    <span class="medida-b">B:{{ data['ancho_cabeza'] }}</span>
    <span class="medida-c">C:{{ data['longitud_cabeza'] }}</span>
    <span class="medida-d1">D1:{{ data['d1']}}</span>
    <span class="medida-d2">D2:{{ data['longitud_perno']}}</span>

  </div>
</div>
</body>

</html>