<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <base href="https://stompp.github.io/gvt/" target="_blank" />
  <title>技术规格表</title>
  <link rel="stylesheet" type="text/css" href="styles/ficha-motor-base.css">
  <link rel="stylesheet" type="text/css" href="styles/motores-fichas.css">
</head>


<body class="fuente-gvt">

  <div class="logo-titulo">
    <img src="static/img/gvtlogo.jpg">
  </div>
  <h1 class="titulo-ficha" id="titulo-ficha">技术规格表<br>{{ data['nombre'] }}</h1>

  <br><br><br>


  <ul class="lista-parametros">
    <li>代码: {{ data['codigo'] }}.</li>

    <li>扭矩: {{ data['par'] }} Nm.</li>
    <li>速度: {{ data['rpm'] }} rpm.</li>

    <li>供电: {{ data['alimentacion'] }}.</li>
    <li>功率: {{ data['potencia'] }} W.</li>
    <li>消耗: {{ data['corriente'] }} A.</li>
    
    <li>最大行程: 无限制.</li>
    <li>连续运行: {{ data['tiempo_max'] }} 分钟.</li>

    <li>防护等级: IP{{ data['ip'] }}.</li>
     <li>&nbsp;</li>
    <li>尺寸:</li>
    <ul>
      <li>A: {{ data['diametro']}} 毫米.</li>
      <li>B: {{ data['ancho_cabeza'] }} 毫米.</li>
      <li>C: {{ data['longitud_cabeza'] }} 毫米.</li>
      <li>D: {{ data['longitud']}} 毫米.</li>
      <li>D1: {{ data['d1']}} 毫米.</li>
      <li>D2: {{ data['longitud_perno']}} 毫米.</li>
    </ul>

  </ul>

  <p>&nbsp;</p>
    <div class="container-centrado">
  <div class="container-motor motor">
    <img src="static/img/motor.png" class="motor-img">

    <span class="medida-a">A:{{ data['diametro']}}</span>
    <span class="medida-b">B:{{ data['ancho_cabeza'] }}</span>
    <span class="medida-c">C:{{ data['longitud_cabeza'] }}</span>
    <span class="medida-d1">D1:{{ data['d1']}}</span>
    <span class="medida-d2">D2:{{ data['longitud_perno']}}</span>

  </div>
</div>
</body>

</html>