<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <base href="https://stompp.github.io/gvt/" target="_blank" />
  <title>Dane techniczne</title>
  <link rel="stylesheet" type="text/css" href="styles/ficha-motor-base.css">
  <link rel="stylesheet" type="text/css" href="styles/motores-fichas.css">
</head>


<body class="fuente-gvt">

  <div class="logo-titulo">
    <img src="static/img/gvtlogo.jpg">
  </div>
  <h1 class="titulo-ficha" id="titulo-ficha">Dane techniczne<br>{{ data['nombre'] }}</h1>

  <br><br><br>


  <ul class="lista-parametros">
    <li>Kod: {{ data['codigo'] }}.</li>
    <li>Zasilanie: {{ data['alimentacion'] }}.</li>
    <li>Moc: {{ data['potencia'] }} W.</li>
    <li>Pobór mocy: {{ data['corriente'] }} A.</li>
    <li>Moment obrotowy: {{ data['par'] }} Nm.</li>
    <li>Prędkość: {{ data['rpm'] }} obr./min.</li>
    <li>Maksymalny zakres ruchu: {{ data['vueltas_max'] }} obrotów.</li>
    <li>Ciągła praca: {{ data['tiempo_max'] }} minut.</li>
    <li>Ochrona: IP{{ data['ip'] }}.</li>
    <li>Wymiary:</li>
    <ul>
      <li>A: {{ data['diametro']}} mm.</li>
      <li>B: {{ data['ancho_cabeza'] }} mm.</li>
      <li>C: {{ data['longitud_cabeza'] }} mm.</li>
      <li>D: {{ data['longitud']}} mm.</li>
      <li>D1: {{ data['d1']}} mm.</li>
      <li>D2: {{ data['longitud_perno']}} mm.</li>
    </ul>

  </ul>

  <p>&nbsp;</p>

  <div class="container-motor motor">
    <img src="static/img/motor.png" class="motor-img">

    <span class="medida-a">A:{{ data['diametro']}}</span>
    <span class="medida-b">B:{{ data['ancho_cabeza'] }}</span>
    <span class="medida-c">C:{{ data['longitud_cabeza'] }}</span>
    <span class="medida-d1">D1: {{ data['d1']}}</span>
    <span class="medida-d2">D2:{{ data['longitud_perno']}}</span>

  </div>
</body>

</html>