<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <base href="https://stompp.github.io/gvt/" target="_blank" />
    <title>Scheda Tecnica</title>
    <link rel="stylesheet" type="text/css" href="styles/ficha-motor-base.css" />
    <link rel="stylesheet" type="text/css" href="styles/motores-fichas.css" />
  </head>

  <body class="fuente-gvt">
    <div class="logo-titulo">
      <img src="static/img/gvtlogo.jpg">
    </div>
    <h1 class="titulo-ficha" id="titulo-ficha">Scheda Tecnica<br>{{ data['nombre'] }}</h1>
    <br><br><br> 
    <ul class="lista-parametros">
      <li>Codice: {{ data['codigo'] }}.</li>
  
      <li>Coppia: {{ data['par'] }} Nm.</li>
      <li>Velocità: {{ data['rpm'] }} rpm.</li>
  
      <li>Alimentazione: {{ data['alimentacion'] }}.</li>
      <li>Potenza: {{ data['potencia'] }} W.</li>
      <li>Consumo: {{ data['corriente'] }} A.</li>
      
      <li>Corsa Massima {{ data['vueltas_max'] }} giri.</li>
      <li>Funzionamento Continuo: {{ data['tiempo_max'] }} minuti.</li>
      
      <li>Protezione: IP{{ data['ip'] }}.</li>
       <li>&nbsp;</li>
      <li>Misure:</li>
      <ul>
        <li>A: {{ data['diametro']}} mm.</li>
        <li>B: {{ data['ancho_cabeza'] }} mm.</li>
        <li>C: {{ data['longitud_cabeza'] }} mm.</li>
        <li>D: {{ data['longitud']}} mm.</li>
        <li>D1: {{ data['d1']}} mm.</li>
        <li>D2: {{ data['longitud_perno']}} mm.</li>
      </ul>
  
    </ul>
    <p>&nbsp;</p>
    <div class="container-centrado">
      <div class="container-motor motor-elitegsm45">
        <span class="medida-a">A:{{ data['diametro']}}</span>
        <span class="medida-b">B:{{ data['ancho_cabeza'] }}</span>
        <span class="medida-c">C:{{ data['longitud_cabeza'] }}</span>
        <span class="medida-d1">D1:{{ data['d1']}}</span>
        <span class="medida-d2">D2:{{ data['longitud_perno']}}</span>
        <img src="static/img/motor-elite-gsm-45.png" class="motor-img" />
      </div>
    </div>

    <!-- 
    <div class="contenedor-centro motor-elitegsm45">
      <div class="contenedor-imagen ">
          <img src="static/img/motor-elite-gsm-45.png" alt="Imagen de fondo">
          <span class="medida-a">A:{{ data['diametro']}}</span>
          <span class="medida-b">B:{{ data['ancho_cabeza'] }}</span>
          <span class="medida-c">C:{{ data['longitud_cabeza'] }}</span>
          <span class="medida-d1">D1:{{ data['d1']}}</span>
          <span class="medida-d2">D2:{{ data['longitud_perno']}}</span>
      </div>
  </div> -->
  </body>
</html>
