.motor .motor-img {
	position:relative;
	display: inline;
	max-width: 100%;
	height: auto;
	left:80px

}

.motor .medida-a {
	left: 410px;
	top: 80px;
}
.motor .medida-b {
	top: 77px;
	left: 13px;
}
.motor .medida-c {
	top: 22px;
	left: 178px;
}
.motor .medida-d1 {
	top: -10px;
	left: 376px;
}
.motor .medida-d2 {
	top: -10px;
	left: 667px;
}


.motor-elite45 .motor-img {
	position:relative;
	display: inline;
	max-width: 100%;
	height: auto;
	left:80px;

}
/*ELITE*/
.motor-elite45 .medida-a {
	left: 410px;
	top: 80px;
}
.motor-elite45 .medida-b {
	top: 77px;
	left: 13px;
}
.motor-elite45 .medida-c {
	top: 22px;
	left: 178px;
}
.motor-elite45 .medida-d1 {
	top: -10px;
	left: 376px;
}
.motor-elite45 .medida-d2 {
	top: -10px;
	left: 667px;
}


.motor-elite55 .motor-img {
	position:relative;
	display: inline;
	max-width: 100%;
	height: auto;
	left:80px

}

.motor-elite55 .medida-a {
	left: 410px;
	top: 80px;
}
.motor-elite55 .medida-b {
	top: 77px;
	left: 13px;
}
.motor-elite55 .medida-c {
	top: 22px;
	left: 178px;
}
.motor-elite55 .medida-d1 {
	top: -10px;
	left: 376px;
}
.motor-elite55 .medida-d2 {
	top: -10px;
	left: 667px;
}




.motor-elitegsm45 .motor-img {
	position:relative;
	display: inline;
	max-width: 50%;
	height: auto;
	left:10px;
	
}

.motor-elitegsm45 .medida-a {
	top: 188px;
	left: 500px;
	
}
.motor-elitegsm45 .medida-b {
	top: 188px;
	left: 23px;
}
.motor-elitegsm45 .medida-c {
	top: 100px;
	left: 170px;
}
.motor-elitegsm45 .medida-d1 {
	top: 72px;
	left: 170px;
}
.motor-elitegsm45 .medida-d2 {
	top: 72px;
	left: 800px;
}



