<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <base href="https://stompp.github.io/gvt/" target="_blank" />
  <title>Technische Daten</title>
  <link rel="stylesheet" type="text/css" href="styles/ficha-motor-base.css">
  <link rel="stylesheet" type="text/css" href="styles/motores-fichas.css">
</head>


<body class="fuente-gvt">

  <div class="logo-titulo">
    <img src="static/img/gvtlogo.jpg">
  </div>
  <h1 class="titulo-ficha" id="titulo-ficha">Technische Daten<br>{{ data['nombre'] }}</h1>

  <br><br><br>


  <ul class="lista-parametros">
    <li>Code: {{ data['codigo'] }}.</li>
    <li>Stromversorgung: {{ data['alimentacion'] }}.</li>
    <li>Leistung: {{ data['potencia'] }} W.</li>
    <li>Verbrauch: {{ data['corriente'] }} A.</li>
    <li>Drehmoment: {{ data['par'] }} Nm.</li>
    <li>Geschwindigkeit: {{ data['rpm'] }} U/min.</li>
    <li>Maximale Wegstrecke: Ohne Grenzen.</li>
    <li>Dauerbetrieb: {{ data['tiempo_max'] }} Minuten.</li>
    <li>Schutz: IP{{ data['ip'] }}.</li>
    <li>Maße:</li>
    <ul>
      <li>A: {{ data['diametro']}} mm.</li>
      <li>B: {{ data['ancho_cabeza'] }} mm.</li>
      <li>C: {{ data['longitud_cabeza'] }} mm.</li>
      <li>D: {{ data['longitud']}} mm.</li>
      <li>D1: {{ data['d1']}} mm.</li>
      <li>D2: {{ data['longitud_perno']}} mm.</li>
    </ul>

  </ul>

  <p>&nbsp;</p>

  <div class="container-motor motor-elite45">
    <img src="static/img/motor.png" class="motor-img">

    <span class="medida-a">A:{{ data['diametro']}}</span>
    <span class="medida-b">B:{{ data['ancho_cabeza'] }}</span>
    <span class="medida-c">C:{{ data['longitud_cabeza'] }}</span>
    <span class="medida-d1">D1:{{ data['d1']}}</span>
    <span class="medida-d2">D2:{{ data['longitud_perno']}}</span>

  </div>
</body>

</html>